@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100;400;700&family=Sofia+Sans:wght@200;400;600;900&display=swap");

$primary-color: rgb(0, 0, 0);
$secondary-color: white;

body {
  background-color: $primary-color;
  color: $secondary-color;
  font-family: "Sofia Sans", sans-serif;
}

.dblock {
  display: block;
}
.dnone {
  display: none;
}

.heading {
  margin-top: 50px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;

  button {
    padding: 0;
    border: 0;
    background: none;
    border-radius: 25%;
  }

  button:hover {
    background-color: rgba(255, 255, 255, 0.09);
    cursor: pointer;
  }

  span {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 5px;
  }
}

#addBookPopup {
  border: 1px solid white;
  width: 500px;
  height: 500px;
  padding: 10px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 2;

  form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    width: 100%;

    input[type="text"],
    input[type="number"] {
      width: 100%;
      background: none;
      background-color: rgba(255, 255, 255, 0.075);
      border: 0;
      padding: 10px 10px;
      color: white;
      border-radius: 10px;
    }

    input[type="text"]:hover,
    input[type="number"]:hover,
    input[type="text"]:active,
    input[type="number"]:active {
      background-color: rgba(255, 255, 255, 0.213);
    }

    label {
      font-size: 1.5rem;
    }

    input[type="submit"] {
      padding: 10px 5px;
      text-transform: uppercase;
      cursor: pointer;
      letter-spacing: 0.1em;
      font-size: 1.2rem;
    }

    #closeForm {
      position: absolute;
      top: 0;
      right: 0;
      background: none;
      border: 0;
      color: white;
      padding: 5px 10px;
      cursor: pointer;
    }
  }
}

.hero {
  .books {
    border: solid 1px white;
    min-width: 500px;
    min-height: 500px;
    margin: 10px 5px;
    padding: 20px;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .book {
      border: 1px solid white;
      padding: 10px;
      width: 200px;
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-align: center;
      .bookTitle {
        font-weight: bold;
        font-size: 1.1rem;
      }
      .hasRead {
        background: none;
        border: 0;
        color: white;
        cursor: pointer;
      }
      .notRead {
        background-color: rgba(255, 0, 0, 0.441);
      }
      .read {
        background-color: rgba(172, 255, 47, 0.548);
      }
    }
  }
}
